{% extends 'base.html' %}

{% block content %}
    <hr> 
    <h1> {%block title %} Bem vindo ao apoio a criança APLV {% endblock %}</h1>
        <header class = "w3-center w3-display-containe w3-content w3-wide" id = "home">
        <hr>        
        <img class="w3-image" src="../static/img/aler01.png" alt="Alergia do leite de vaca" width="15%">
        <hr>
        <div class="w3-display-bottonleft w3-padding-large">
            <h3 class="w3-xxlarge">Conheça mais sobre a alergia ao leite de vaca</h3>
        </div>
        </header>
    <div class="w3-content">
        <div class="w3-row w3-padding-64" id="sobre">
            <div class="w3-col m6 w3-padding-large w3-show-large">
                <img src="../static/img/form.jpg" alt="Formulas APLV" class="w3-round w3-image w3-opacity-min" alt="Table Setting" borde="0">
    </div>
    <div class="w3-col m6 w3-padding-xxxlarge">
      <h1 class="w3-center">Nosso Objetivo</h1>
      <h5 class="w3-center">Ajudar...</h5>
      <p class="w3-large w3-justify">
        O objetivo deste projeto é realizar um grupo de apoio a famílias de crianças que possuem diagnóstico de APLV: são famílias que necessitam de muita ajuda, pois além de se depararem com muitas dúvidas, o indivíduo que sofre com todos os males causados pela alergia é uma criança, o que deixa os responsáveis ainda mais angustiados.
         </p>
         <p class="w3-large w3-justify">
            O foco principal será a realização de um banco de dados com responsáveis de crianças com APLV, para que haja o apoio às famílias, por meio de doações de fórmulas por empresas que tenham essa fórmula sobressalente e/ou outras pessoas que se sensibilizarem a fazer a doação.
         </p>
         <p class="w3-large w3-justify">
            Com este cadastro, quem estiver interessado em fazer a doação, filtrará a família mais próxima de sua residência e agendará a entrega em local firmado em comum acordo.
         </p>
    </div>
        </div>
        <hr>    
    <footer class="w3-right w3-padding-large" id="rodape" style="background-color: #5986ad">
      <i style="font-size:36px" class="fa">&#xf09a;</i>
      <i style="font-size:36px" class="fa">&#xf16d;</i>
      <i style="font-size:36px" class="fa">&#xf2ab;</i>
      <i style="font-size:36px" class="fa">&#xf231;</i>
      <i style="font-size:36px" class="fa">&#xf099;</i>
      <i style="font-size:36px" class="fa">&#xf0e1;</i>
     _-""-_ Compartilhe essa idéia!!!  __--""--__ Desenvolvido por Projeto Integrador - Polo Conchal
    </footer>
{% endblock %}