{% extends 'base.html' %}

{% block content %}
    <h1> {%block title %} Bem vindo ao Apoio a criança APLV {% endblock %}</h1>
        <header class = "w3-center w3-display-containe w3-content w3-wide" id = "home">

        <img class="w3-image" src="../static/img/aler01.png" alt="Alergia do leite de vaca" width="15%">

        <div class="w3-display-bottonleft w3-padding-large w3-pale-blue">
            <h3 class="w3-xxlarge">Conheça mais sobre a alergia ao leite de vaca</h3>
        </div>
    </header>
    <div class="w3-content">
        <div class="w3-row w3-padding-64" id="sobre">
            <div class="w3-col m6 w3-padding-large w3-show-small">
                <img src="../static/img/form.jpg" alt="Formulas APLV" class="w3-round w3-image w3-opacity-min" alt="Table Setting" borde="0">
    </div>
    <div class="w3-col m6 w3-padding-xxxlarge">
      <h1 class="w3-center w3-pale-blue">Nosso Objetivo</h1>
      <h5 class="w3-center">Ajudar...</h5>
      <p class="w3-large">
          O objetivo deste projeto é realizar um grupo de apoio a famílias de crianças APLV, são famílias que necessitam
           de muita ajuda, pois além de se encontrarem em situação com muitas dúvidas, a pessoa que sofre normalmente
           é uma criança deixando os responsáveis ainda mais angustiados.
         </p>
         <p class="w3-large">
          O foco principal será a realização de um banco de dados com responsáveis de APLV para que através de doações
          de fórmulas por outros responsáveis que tenham essa fórmula sobresalente ou outros que se sensibilizarem a
           fazer a doação.
         </p>
         <p class="w3-large">
          Com este cadastro, quem estiver interessado em fazer a doação, filtrará a família mais próxima de sua
          residência e agendará a entrega em local firmado em comum acordo.
         </p>
    </div>
        </div>

    <footer class="w3-right w3-padding-large" id="rodape" style="background-color: #48D1CC">
      <i style="font-size:36px" class="fa">&#xf09a;</i>
      <i style="font-size:36px" class="fa">&#xf16d;</i>
      <i style="font-size:36px" class="fa">&#xf2ab;</i>
      <i style="font-size:36px" class="fa">&#xf231;</i>
      <i style="font-size:36px" class="fa">&#xf099;</i>
      <i style="font-size:36px" class="fa">&#xf0e1;</i>
     _-""-_ Compartilhe essa idéia!!!  __--""--__ Desenvolvido por Projeto Integrador - Polo Conchal
    </footer>
{% endblock %}