{% extends 'base.html' %}

{% block content %}
    <hr> 
    <header>
    <h1 id="topo"> {%block title %} Conhecendo mais sobre o assunto {% endblock %}</h1>
    </header>
    <hr> 
    <div class="w3-padding">
      <h1 class="w3-center w3-pale">Vamos entender...</h1>
        <br>
      <p class="w3-large">  A alergia à proteína do leite de vaca, conhecida como APLV, é a alergia alimentar mais comum durante a infância: estima-se que 2,2% das crianças são atingidas no primeiro ano de vida.
Quem é alérgico ao leite de vaca pode apresentar desde sintomas bem leves, como uma urticária na pele, até reações bem graves, como o choque anafilático (reação alérgica súbita que pode ser fatal). Diante da suspeita de APLV, o bebê deve ser levado ao pediatra para que seja feito o diagnóstico correto e, caso confirmado, já se dê início ao tratamento.
      </p>
        <p class="w3-large"><h3>O que é APLV</h3></p>
      <p class="w3-large">   As alergias alimentares são cada vez mais comuns entre as crianças e são provocadas pela reação do organismo a alguma proteína presente no alimento. Esse nutriente é absorvido pelo intestino, mas causa reações devido à sensibilidade do organismo.
No caso da APLV, a pessoa é alérgica à proteína presente no leite e seus derivados, como queijos, manteiga, requeijão, ricota, iogurte, creme de leite, doce de leite, leite condensado e cream cheese.
O leite de vaca é o principal causador de alergias alimentares em crianças por dois motivos: é muito consumido e tem forte potencial alergênico, pois contém mais de 20 componentes protéicos.
      </p>
        <p class="w3-large"><h3>Causas da APLV</h3></p>
      <p class="w3-large">  Na maioria dos casos, os sintomas da APLV aparecem quando a criança começa a consumir leite de vaca e derivados, mas há também a possibilidade da alergia surgir mesmo em bebês nutridos exclusivamente de leite materno, por conta da alimentação da mãe. Nessas situações é recomendado que a mãe evite o consumo desses alimentos.
Como o organismo das crianças é imaturo, o contato com a proteína do leite pode causar a alergia. Mas ela também pode ser provocada por uma predisposição genética.
No início da doença, o pediatra pode sentir dificuldade de fazer um diagnóstico por conta de os sintomas serem muito similares a outros distúrbios.
      </p>
      <div>
        <div class="w3-content">
          <div class="w3-row w3-padding-16" id="sobre">
            <div class="w3-col m6 w3-padding-small w3-show-large">
                <img src="../static/img/sintomas.jpeg" alt="Sintomas" class="w3-round w3-image w3-opacity-min" alt="Table Setting" borde="0">
            </div>
        <div class="w3-col m6 w3-padding-small">
          <p class="w3-large"><h3>Sintomas da APLV</h3></p>
          <p class="w3-large"> Os sintomas podem ser imediatos e aparecer em até duas horas após a ingestão do leite de vaca. Também podem ser tardios e surgir horas ou dias após a alimentação com leite.
          As principais reações imediatas são:
          </p>
               <ul>
                   <li>Choque anafilático</li>
                   <li>Urticária aguda</li>
                   <li>Angiodema agudo (inchaço repentino sob a pele)</li>
                   <li>Sibilos (ruídos semelhantes a um assobio agudo, como em quem tem asma)</li>
                   <li>Rinite</li>
                   <li>Tosse seca</li>
                   <li>Vômitos</li>
                   <li>Edema de laringe, notado por rouquidão e dificuldade para respirar</li>
                   <li>Asma aguda com desconforto respiratório grave</li>
               </ul>
        </div>
    </div>
      <p class="w3-large"><h3>Sintomas tardios</h3></p>
       <ul>
           <li>Dermatite atópica (coceira e erupções na pele)</li>
           <li>Diarréia crônica</li>
           <li>Fezes com sangue</li>
           <li>Doença do refluxo gastroesofágico</li>
           <li>Constipação</li>
           <li>Déficit de crescimento</li>
           <li>Inflamação dos intestinos com perda de proteínas</li>
       </ul>
       <p class="w3-large"><h3>Como identificar a APLV</h3></p>
       <p class="w3-large">O diagnóstico não é simples. Geralmente, é feito pelo histórico familiar do paciente e pelo conjunto de reações alérgicas já observadas pelos pais.
O pediatra também fará um exame físico, com atenção especial à nutrição. Ele poderá observar:
       </p>
        <ul>
            <li>A idade que o bebê tinha quando apareceram os sintomas.</li>
            <li>Frequência dos sintomas.</li>
            <li>Sincronismo entre a ingestão e o aparecimento dos sintomas.</li>
            <li>Quantidade de leite necessária para provocar os sintomas.</li>
            <li>Métodos de preparação de leite.</li>
            <li>Intervalo de tempo desde a última reação.</li>
            <li>Evolução do crescimento da criança.</li>
            <li>Detalhes da alimentação, como duração da amamentação e introdução de sólidos na dieta.</li>
        </ul>
        <p class="w3-large"><h3>Tratamento da alergia à proteína do leite de vaca</h3></p>
        <p class="w3-large">Durante o tratamento, a criança que tem APLV deve ter excluídos da sua dieta todos os alimentos que contenham a proteína do leite de vaca. A alergia não é causada pela quantidade ingerida, e sim pela proteína em si. Portanto, até uma pequena quantidade pode causar a reação alérgica.
Muitas vezes, o bebê volta a tolerar a proteína conforme seu organismo se desenvolve. Cerca de 80% das crianças têm a alergia resolvida entre três e cinco anos de idade. Mesmo que a alergia seja resolvida, a reintrodução de alimentos que contenham a proteína do leite deve ser supervisionada pelo médico.
Muitas vezes, o bebê volta a tolerar a proteína conforme seu organismo se desenvolve. Cerca de 80% das crianças têm a alergia resolvida entre três e cinco anos de idade. Mesmo que a alergia seja resolvida, a reintrodução de alimentos que contenham a proteína do leite deve ser supervisionada pelo médico.
        </p>
        <div>
          <div class="w3-content">
            <div class="w3-row w3-padding-16" id="sobre">
              <div class="w3-col m6 w3-padding-small w3-show-large">
                  <img src="../static/img/proibido.png" alt="Derivados do leite" class="w3-round w3-image w3-opacity-min" alt="Table Setting" borde="0">
              </div>
          <div class="w3-col m6 w3-padding-small">
            <p class="w3-large"><h3>O que não pode comer</h3></p>
        <p class="w3-large">A criança com APLV não pode comer nenhum alimento que contenha a proteína do leite de vaca, como:
        </p>
        <ul>
            <li>Leite</li>
            <li>Manteiga</li>
            <li>Iogurte</li>
            <li>Queijo</li>
            <li>Ricota</li>
            <li>Bolos</li>
            <li>Biscoitos</li>
            <li>Chocolate</li>
            <li>Molho branco</li>
            <li>Creme de leite</li>
            <li>Leite condensado</li>
            <li>Cream cheese</li>
            <li>Doce de leite</li>
        </ul>
          </div>
      </div>
        <p class="w3-large">A atenção deve ser redobrada quando a criança não se alimenta em casa, como na escola e em festinhas infantis. Sempre que os pais ou cuidadores não estiverem presentes, o adulto responsável deve ser informado sobre a condição do pequeno.</p>
        <p class="w3-large"><h3>O que pode comer</h3></p>
        <p class="w3-large">A criança pode comer quaisquers alimentos recomendados pelo médico que não apresentem a proteína do leite ou risco de contaminação cruzada, como carnes, vegetais, frutas, verduras, leguminosas, cereais e grãos.</p>
        <p class="w3-large"><h3>A dieta da mãe que amamenta</h3></p>
        <p class="w3-large">No caso dos bebês em aleitamento materno, o pediatra deve indicar a dieta restritiva à mãe, para que a amamentação não seja interrompida. Isso significa que ela deverá cortar da alimentação todos os alimentos que possuam a proteína do leite de vaca.</p>
        <p class="w3-large"><h3>Diferenças entre APLV e intolerância à lactose</h3></p>
        <p class="w3-large">A alergia ao leite de vaca é uma reação do sistema imunológico a uma proteína alimentar específica e os sintomas podem aparecer não apenas pela ingestão do leite, mas também pelo contato ou cheiro do alimento. Até por isso costuma-se indicar que os utensílios de cozinha usados para preparar as refeições do alérgico sejam separados dos outros.
Já as intolerâncias não envolvem o sistema imunológico. Na intolerância à lactose, a pessoa não produz a lactase, enzima responsável por quebrar o açúcar encontrado no leite e em produtos lácteos (lactose). Como resultado, vai sentir algum desconforto gástrico apenas quando ingerir a bebida ou seus derivados, dependendo da quantidade.
A intolerância à lactose causa sintomas como náuseas, gases, inchaço e diarreia. Embora a intolerância à lactose possa gerar grandes desconfortos, não apresenta perigo como pode ocorrer com a APLV.<br><br>
            Fonte: https://www.danonenutricia.com.br/infantil/dificuldades-alimentares/sintomas-tratamento-aplv2</p>
        <p class="w3-small"><h5>REFERÊNCIAS BIBLIOGRÁFICAS</h5></p>
        <p class="w3-tiny">Sociedade Brasileira de Pediatria (“Filhos: da gravidez aos 2 anos de idade”)
Revista Médica de Minas Gerais (“Suplemento do consenso sobre alergia alimentar: 2007”)
Revista Brasileira de Imunologia e Imunopatologia (“Guia prático de diagnóstico e tratamento da Alergia às Proteínas do Leite de Vaca mediada pela imunoglobulina E”)
Jornal de Pediatria da SBP (“Food allergy: a practical update from the gastroenterological viewpoint”)
Hospital do Servidor Público Municipal de São Paulo (“Alergia à proteína do leite de vaca - Milena Ribeiro Macitelli”)
Australian Society of Clinical Immunology and Allergy (“Cow’s milk dairy allergy”)
            Food Allergy Research & Education (“Milk Allergy”)</p>
    </div>
        <hr>
    <footer class="w3-right w3-padding-large" id="rodape" style="background-color: #5986ad">
      <i style="font-size:36px" class="fa">&#xf09a;</i>
      <i style="font-size:36px" class="fa">&#xf16d;</i>
      <i style="font-size:36px" class="fa">&#xf2ab;</i>
      <i style="font-size:36px" class="fa">&#xf231;</i>
      <i style="font-size:36px" class="fa">&#xf099;</i>
      <i style="font-size:36px" class="fa">&#xf0e1;</i>
        _-""-_ Compartilhe essa idéia!!!  __--""--__ _-""-_  __--""--_____ <a href="#topo" title="Ir ao topo da página" class="w3-hover-text-green">>>>>> Ir ao topo da página <<<<<

    </footer>
{% endblock %}